.face-snap-card {
  box-sizing: content-box;
  width: 55%; //Elargi ou non la box
  margin: 20px auto; //Rajoute de la marge entre chaque box
  padding: 10px 30px; //Elargi ou non les bords de la box par rapport aux éléments dedans
  box-shadow: lightgray 4px 4px 20px; //Crée une ombre autour de notre div pour faire une sorte de box
  display: flex;
  justify-content: right;

  img {
    width: 50%;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    font-weight: 300;
    font-size: 16px;
  }

  #rd-box {
    float:right;
      width:180px;
      height:160px;
      background-color:white;
      border:solid black;
  }

  button {
    background-color: transparent;
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    box-shadow: lightgray 3px 3px 7px;
    margin-right: 20px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    &:active {
      transform: translate(1px, 1px);
      box-shadow: lightgray 0 0 5px;
    }
  }
}
