<div class="row mb-60">
  <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="img left">
      <a href="cotton-house.html"><img [src]="projetTile.imageUrl" [alt]="projetTile.title"></a>
    </div>
  </div>
  <div class="col-md-6 valign animate-box" data-animate-effect="fadeInRight">
    <div class="content">
      <div class="date">
        <h3>23</h3>
        <h6>Jan 2018</h6> </div>
      <div class="cont">
        <div class="info">
          <h6><a href="cotton-house.html">LAKS</a> / <a href="cotton-house.html" class="tags">{{projetTile.category}}</a></h6> </div>
        <h4>{{projetTile.title | titlecase }}</h4> <a href="cotton-house.html" class="more" data-splitting=""><span>Voir plus</span></a> </div>
    </div>
  </div>
</div>
