<header>
  <h1>MEANJs Project</h1>
  <nav>
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="projettiles" routerLinkActive="active">ProjetTiles</a>
    <a routerLink="profiles" routerLinkActive="active">Profiles</a>
    <a routerLink="sliders" routerLinkActive="active">Sliders</a>
  </nav>
  <button (click)="onAddNewProjetTile()">+</button>
  <button (click)="onAddNewProfile()">+</button>
  <button (click)="onaddNewSlider()">+</button>
</header>
