<div class="form-card">
  <h2>New Slider</h2>
  <form [formGroup]="sliderForm">
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" type="text" formControlName="description" rows="4"></textarea>
    </div>
    <div class="form-group">
      <label for="imageUrl">Url Image</label>
      <input id="imageUrl" type="text" formControlName="imageUrl">
    </div>
    <div class="action-buttons">
      <button type="submit" (click)="onSubmitForm()" [disabled]="sliderForm.invalid">Save</button>
    </div>
  </form>
</div>
<div class="face-snap-card" *ngIf="sliderPreview$ | async as slider">
  <img [src]="slider.imageUrl" [alt]="slider.description">
  <p>{{ slider.description }}</p>
</div>
