<div class="form-card">
  <h2>New Profile</h2>
  <form [formGroup]="profileForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input id="title" type="text" formControlName="title">
    </div>
    <div class="form-group">
      <label for="imageUrl">Url Image</label>
      <input id="imageUrl" type="text" formControlName="imageUrl">
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <textarea id="name" type="text" formControlName="name" rows="4"></textarea>
    </div>
    <div class="form-group">
      <label for="surname">Surname</label>
      <textarea id="surname" type="text" formControlName="surname" rows="4"></textarea>
    </div>
    <div class="action-buttons">
      <button type="submit" (click)="onSubmitForm()" [disabled]="profileForm.invalid">Save</button>
    </div>
  </form>
</div>
<div class="face-snap-card" *ngIf="profilePreview$ | async as profile">
  <img [src]="profile.imageUrl" [alt]="profile.title">
  <p>{{ profile.name }} {{ profile.surname }}</p>
  <h2>{{ profile.title | uppercase }}</h2>
</div>
